<!--header.ejs Kwun Hing Lau 301230390  10/4/2022-->



  <!-- CSS Section -->
  <link rel="stylesheet"href="/css/express.portfolio.css">


<div class="header">
    <br>
   
<div class="navigationBar">
    <img src="/img/Personal_logo.png" alt="Logo"width="50px">
    <a href="/home">Home Page</a>
    <a href="/aboutMe">About Me</a>
    <a href="/project">Project Page</a>
    <a href="/service">Services Page</a>
    <a href="/contact">Contact</a>
    <a href="/contactList">Contact List</a>
    
    <% if(typeof displayName == 'string' && displayName) { %>
       <a>Welcome, <%= displayName %></a>
       <a href="/logout" >Logout</a>
      <% } else { %>
        <a href="/login">Login</a>
      <% } %>



  
</div>

</div>