<!--header.ejs Kwun Hing Lau 301230390  10/4/2022-->
<link rel="stylesheet"href="css/express.portfolio.css">
  <!-- CSS Section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/Content/app.css' />
<div class="header">
    <br>
   
<div class="navigationBar">
    <img src="img/Personal_logo.png" alt="Logo"width="50px">
    <a href="/Home">Home Page</a>
    <a href="/AboutMe">About Me</a>
    <a href="/Project">Project Page</a>
    <a href="/Service">Services Page</a>
    <a href="/Contact">Contact</a>
    <a href="/ContactList">Contact List</a>
    
    <% if(typeof displayName == 'string' && displayName) { %>
       <a>Welcome, <%= displayName %></a>
       <a href="/Logout" >Logout</a>
      <% } else { %>
        <a href="/Login">Login</a>
      <% } %>



  
</div>

</div>