<!--footer.ejs Kwun Hing Lau 301230390  10/4/2022-->
<div class="footer">
    <br>
    <hr>
    <small>Copyright &copy; Lau,Kwun Hing &nbsp 301230390 &nbsp COMP229 Assignment  &nbsp Fall 2022.</small></footer>
    <br /><br /><br /><br />
</div>