<!--header.ejs Kwun Hing Lau 301230390  10/4/2022-->
<link rel="stylesheet"href="css/express.portfolio.css">
<div class="header">
    <br>
   
<div class="navigationBar">
    <img src="img/Personal_logo.png" alt="Logo"width="50px">
    <a href="/Home">Home Page</a>
    <a href="/AboutMe">About Me</a>
    <a href="/Project">Project Page</a>
    <a href="/Service">Services Page</a>
    <a href="/Contact">Contact</a>
</div>

</div>