<!-- _business_add_fields.ejs Kwun Hing Lau 301230390  10/19/2022-->

<!-- Content for the Add page -->
<div class="addForm">
    
            <h1><%= title %></h1>

            <form  method="post">
                <div class="form-group">
                    <label for="contactNameTextField">Contact Name</label>
                    <input type="text" class="form-control"
                    id="contactNameTextField"
                    placeholder="Enter the Contact Name"
                    name="contactName" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="contactNumberTextField">Contact Number</label>
                    <input type="text" class="form-control"
                    id="contactNumberTextField"
                    placeholder="Enter the Contact Number"
                    name="contactNumber" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="emailTextField">Email</label>
                    <input type="email" class="form-control"
                    id="emailTextField"
                    placeholder="Enter the Email"
                    name="email" required>
                </div>
                <br>

                <div class="formButton" >
                <button class="btn btn-primary" type="submit">Submit</button>
                &nbsp&nbsp&nbsp&nbsp
                <a href="/ContactList" class="btn btn-warning"><span>Cancel</span> </a>
                </div>

            </form>
</div>



